<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Android UI Test Suite" parallel="methods" thread-count="3">
    <test name="Android UI Tests">
        <classes>
            <class name="runners.AndroidUITestRunner"/>
        </classes>
    </test>
</suite>